<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ "/assets/javascript/jquery-ui.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/javascript/script.js" | prepend: site.url }}"></script>
  </head>
  <body>
    <div class="wrapper-page">
      <div class="wrapper-inner-page">
        {% include header.html %}
        <main>
          <h1 class="title">{{ page.title }}</h1>
          <small>Posted {{ page.date | date: "%-m-%d-%Y" }}</small>
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>